html, body, h2, h3, h4, ul, li, ol, p {
  margin: 0;
  padding: 0;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  min-width: 1120px;
  font-size: 16px;
}
img {
  display: block;
  border: none;
}
a {
  color: black;
}
b {
  font-weight: normal;
  color: #3E82F6;
  cursor: pointer;
}
b + b {
  margin-left: 5px;
}
b:hover {
  color: #659bf8;
}